<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit architecto ipsum veritatis perspiciatis id,
        repellat numquam at ipsa optio corrupti voluptate praesentium ducimus ab nobis perferendis? Voluptatem incidunt
        perferendis iure!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet voluptatem, corporis ipsam eum quidem ex beatae
        dolores. Perferendis, tempora dolor! Delectus suscipit voluptatibus dolore amet iusto repellendus hic numquam
        eum.</p>
</body>

</html>